body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #270606;
  margin: 0;
}

body .container {
  margin: auto;
  width: 900px;
}

body .dolla-sign:before {
  content: '$';
}

body a {
  text-decoration: none;
  color: inherit;
}

body button:focus {
  outline: none;
}

body button:hover {
  cursor: pointer;
}

body .blue-button-style {
  background-color: #1488cc;
  color: #f7f7f7;
  padding: auto;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

body .blue-button-style:hover {
  background-color: #1489cce5;
}

body input {
  background-color: #f7f7f7;
  border: 1px #777777 solid;
}

body textarea {
  background-color: #f7f7f7;
  border: 1px #777777 solid;
}

#company-header {
  color: #f2f7f2;
  background: #1488cc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#2b32b2), to(#1488cc));
  background: linear-gradient(to bottom, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 20px 10px 20px;
}

#company-header #company {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

#company-header #burger:hover {
  cursor: pointer;
}

#company-header #logout-btn {
  position: absolute;
  right: 110px;
  top: 35px;
  display: inline-block;
  background-color: transparent;
  color: #f7f7f7;
  padding: auto;
  border: 1px solid #f7f7f7;
  width: 80px;
  height: 25px;
  border-radius: 5px;
}

#company-header #burger {
  position: absolute;
  right: 50px;
  top: 35px;
  padding: 5px;
}

#company-header #burger div {
  width: 30px;
  height: 3px;
  background-color: #f7f7f7;
}

#company-header #burger #burger2 {
  margin-top: 5px;
}

#company-header #burger #burger3 {
  margin-top: 5px;
}

#company-header #menu {
  display: none;
  position: absolute;
  right: 0;
  top: 70px;
  border-top: 1px solid #270606;
  border-right: 1px solid #270606;
  border-left: 1px solid #270606;
  background-color: #f7f7f7;
  color: #270606;
  cursor: pointer;
}

#company-header #menu p {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #270606;
}

#company-header #menu-blanket {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#company-header #header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#company-header #header-flex button {
  display: inline-block;
  background-color: transparent;
  color: #f7f7f7;
  padding: auto;
  border: 1px solid #f7f7f7;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#company-header #header-flex button:hover {
  background-color: #1489cce5;
}

#footer {
  background: #1488cc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#2b32b2), to(#1488cc));
  background: linear-gradient(to top, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f7f7f7;
  height: 120px;
  margin-top: 200px;
  text-align: center;
  padding: 40px 20px 40px 20px;
}

#footer p {
  padding-top: auto;
  padding-bottom: auto;
}

#main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 67%;
      grid-template-columns: 33% 67%;
      grid-template-areas: 'dash invoice' 'list list';
}

#main-grid h3 {
  text-align: center;
}

#main-grid #dashboard {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dash;
  padding: 20px 30px 20px 30px;
}

#main-grid #dashboard #border {
  border-right: #1488cc solid 2px;
  height: 200px;
  width: 260px;
  position: absolute;
  top: 100px;
}

#main-grid hr {
  width: 80%;
}

#main-grid #create-invoice {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: invoice;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px 20px 30px;
}

#main-grid #create-invoice label {
  text-align: center;
  margin-bottom: 10px;
}

#main-grid #create-invoice input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid black;
  padding: 0 0 0 5px;
}

#main-grid #create-invoice #due {
  width: 120px;
}

#main-grid #create-invoice #create-invoice-btn {
  background-color: #1488cc;
  color: #f7f7f7;
  padding: auto;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 0;
  cursor: pointer;
}

#main-grid #create-invoice #create-invoice-btn:hover {
  background-color: #1489cce5;
}

#invoice-list {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list;
  border-collapse: collapse;
  width: 100%;
}

#invoice-list th {
  background-color: #1488cc;
  color: #f7f7f7;
}

#invoice-list tr:nth-child(even) {
  background-color: #3c374431;
}

#invoice-list tr:hover {
  background-color: #1489cc38;
  cursor: pointer;
}

#invoice-list th,
#invoice-list td {
  padding: 10px;
}

#invoice-list th {
  height: 3rem;
  text-align: left;
}

#invoice-list td {
  vertical-align: middle;
}

#invoice-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 550px 3px 347px;
      grid-template-columns: 550px 3px 347px;
      grid-template-areas: 'left border right' 'items items items';
}

#invoice-info #left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px 30px 20px 30px;
}

#invoice-info #right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px 30px 20px 30px;
}

#invoice-info #invoice-border {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: border;
  background-color: #1488cc;
  width: 3px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

#invoice-info #payments {
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

#invoice-info #payments p {
  margin-top: 0;
  margin-bottom: 0;
}

#invoice-info #payments #payments-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 24px;
  margin-top: 16px;
}

#invoice-info #payments #payments-div div p {
  display: inline-block;
}

#invoice-info #payments #payments-div div :first-child {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#invoice-info #payments #payments-div div :nth-child(2) {
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#invoice-info #payments #payments-div div :nth-child(3) {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}

#invoice-info #payments #payments-div div button {
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  color: #f7f7f7;
  font-size: 15px;
  padding: auto;
  border-radius: 5px;
}

#invoice-info #payments #payments-div div button:hover {
  color: #1d1d1d;
}

#add-item-btn {
  position: absolute;
  border-radius: 5px;
  background-color: #1488cc;
  color: #f7f7f7;
  font-size: large;
  border: none;
  top: -70px;
  left: 400px;
  margin-left: -100px;
  padding: 10px;
  width: 180px;
}

#add-item-btn:hover {
  background-color: #1489cce5;
}

#line-item-list {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: items;
  position: relative;
}

#line-item-list div {
  background-color: #1488cc;
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #1489cc91;
          box-shadow: 2px 2px 2px #1489cc91;
  padding: 5px 0 5px 0;
}

#line-item-list div h3 {
  margin: 10px;
}

#line-item-list div h3:first-of-type {
  -ms-flex-preferred-size: 575px;
      flex-basis: 575px;
}

#line-item-list div h3:nth-child(2) {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

#line-item-list div h3:nth-child(3) {
  -ms-flex-preferred-size: 95px;
      flex-basis: 95px;
}

#line-item-list div h3:nth-child(4) {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

#line-item-list ul {
  position: relative;
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 80px;
}

#line-item-list li:hover {
  background-color: #1489cc38;
}

#line-item-list li:hover + button {
  opacity: 1;
}

#line-item-list button:hover {
  opacity: 1;
}

#line-item-list li {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 80px 110px 90px;
      grid-template-columns: 600px 80px 110px 90px;
      grid-template-areas: 'title qty unit total' 'descrip descrip descrip descrip';
  text-decoration: none;
  margin: 1px 0;
  padding: 0 10px;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 2px 2px #a5a5a5;
          box-shadow: 2px 2px 2px #a5a5a5;
  border-radius: 5px;
  cursor: pointer;
}

#line-item-list li p {
  margin: 5px 0;
}

#line-item-list li p:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

#line-item-list li p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: descrip;
  font-size: 80%;
}

#line-item-list li p:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: qty;
}

#line-item-list li p:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: unit;
}

#line-item-list li p:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: total;
}

#line-item-list .red-button {
  opacity: 0;
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  right: 0;
  border: none;
  color: #f7f7f7;
  font-size: 15px;
  padding: auto;
  border-radius: 5px;
}

#line-item-list .red-button:hover {
  color: #1d1d1d;
}

#line-item-list .red-button:hover .delete-tooltip {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  visibility: visible;
}

#line-item-list .delete-tooltip {
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: 30px;
  color: #8b8b8b;
  font-size: small;
  font-weight: lighter;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}

.modal .pop-up {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 400px;
  left: 50%;
  top: 40%;
  margin: -150px 0 0 -200px;
  background-color: #f7f7f7;
  border-radius: 15px;
  border: 2px solid black;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 10px #363636, -3px -3px 10px #363636;
          box-shadow: 3px 3px 10px #363636, -3px -3px 10px #363636;
}

.modal .pop-up h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.modal .cancel {
  padding: 0;
  display: block;
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  height: 30px;
  color: #b9b9b9;
  font-size: 40px;
  border: none;
  background-color: #f7f7f7;
  line-height: 70%;
}

.modal .cancel:hover {
  color: #757575;
  background-color: transparent;
}

.modal input {
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.modal .title {
  display: block;
  margin: 10px auto;
  width: 250px;
}

.modal .input-dolla {
  margin-left: -7px;
  margin-right: -2px;
}

.modal label {
  display: inline-block;
  width: 100px;
}

.modal textarea {
  display: block;
  width: 300px;
  height: 60px;
  padding: 0 5px 0 5px;
  margin: 0 auto 10px auto;
}

.modal .modal-add-btn {
  position: relative;
  display: inline-block;
  left: 22px;
}

.modal .modal-add-more-btn {
  position: relative;
  display: inline-block;
  left: 30px;
}

.modal .modal-edit-btn {
  display: block;
  margin: 0 auto 0 auto;
}

.modal .modal-add-template-btn {
  display: block;
  margin: 10px auto 0 auto;
}

.modal #company-window h5 {
  text-align: center;
}

.modal #company-window input {
  width: 340px;
}

.modal #company-window input#save-company-btn {
  display: inline-block;
  width: 150px;
  margin-left: 100px;
  margin-right: auto;
}

.modal .display-none {
  display: none;
}

.display-none {
  display: none;
}

#payment-modal #accept-payment-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */